<section id="formation">
    <div class="formation-content">
        <h2>{% trans %}formation_section.title{% endtrans %}</h2>
        <div class="vertical-line"></div>
        <div class="card">
            <div class="card-header">
                <p><span>{% trans %}formation_section.2019_to_today.title{% endtrans %}</span></p>
                <p>{% trans %}formation_section.2019_to_today.address{% endtrans %}</p>
            </div>
            <div class="card-body">
                <ul>
                    <li><span>{% trans %}formation_section.2019_to_today.it_development.title{% endtrans %}: </span>
                        {% trans %}formation_section.2019_to_today.it_development.description{% endtrans %}</li>
                    <li><span>{% trans %}formation_section.2019_to_today.databases.title{% endtrans %}: </span>
                        {% trans %}formation_section.2019_to_today.databases.description{% endtrans %}</li>
                    <li><span>{% trans %}formation_section.2019_to_today.it_architecture.title{% endtrans %}: </span>
                        {% trans %}formation_section.2019_to_today.it_architecture.description{% endtrans %}</li>
                    <li><span>{% trans %}formation_section.2019_to_today.network.title{% endtrans %}: </span>
                        {% trans %}formation_section.2019_to_today.network.description{% endtrans %}</li>
                    <li><span>{% trans %}formation_section.2019_to_today.general_education.title{% endtrans %}: </span>
                        {% trans %}formation_section.2019_to_today.general_education.description{% endtrans %}</li>
                    <li>{% trans %}formation_section.2019_to_today.mathematics_advanced{% endtrans %}</li>
                </ul>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="card">
            <div class="card-header">
                <p><span>{% trans %}formation_section.june_2019.title{% endtrans %}</span></p>
                <p>{% trans %}formation_section.june_2019.address{% endtrans %}</p>
            </div>
            <div class="card-body">
                <p>{% trans %}formation_section.june_2019.description{% endtrans %}</p>
            </div>
        </div>
        <div class="vertical-line"></div>
    </div>
</section>