<section id="interests">
    <div class="interests-content">
        <h2>{% trans %}interests_section.title{% endtrans %}</h2>
        <div class="card">
            <div class="card-body interests-grid">
                <div class="interests-journeys-icon">
                    <p class="icon-box"><img alt="{% trans %}interests_section.journeys.image_description{% endtrans %}" src="{{ asset('img/icons/map.svg') }}"/></p>
                </div>
                <div class="interests-programming-icon">
                    <p class="icon-box"><img alt="{% trans %}interests_section.programming.image_description{% endtrans %}" src="{{ asset('img/icons/code.svg') }}"/></p>
                </div>
                <div class="interests-cinema-icon">
                    <p class="icon-box"><img alt="{% trans %}interests_section.cinema.image_description{% endtrans %}" src="{{ asset('img/icons/clap.svg') }}"/></p>
                </div>

                <div class="interests-journeys-text">
                    <p><span class="font-weight-bold">{% trans %}interests_section.journeys.title{% endtrans %}</span></p>
                </div>
                <div class="interests-programming-text">
                    <p><span class="font-weight-bold">{% trans %}interests_section.programming.title{% endtrans %}</span></p>
                </div>
                <div class="interests-cinema-text">
                    <p><span class="font-weight-bold">{% trans %}interests_section.cinema.title{% endtrans %}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>