<section id="professional-experiences">
    <div class="professional-experiences-content">
        <h2>{% trans %}professional_experiences_section.title{% endtrans %}</h2>
        <div class="vertical-line"></div>
        <div class="card">
            <div class="card-header">
                <p><span>{% trans %}professional_experiences_section.september_august_2020_2021.title{% endtrans %}</span></p>
                <br>
                <p>{% trans %}professional_experiences_section.september_august_2020_2021.description{% endtrans %}</p>
            </div>
            <div class="card-body">
                <ul>
                    <li>{% trans %}professional_experiences_section.september_august_2020_2021.realised_tasks1{% endtrans %}</li>
                    <li>{% trans %}professional_experiences_section.september_august_2020_2021.realised_tasks2{% endtrans %}</li>
                    <li>{% trans %}professional_experiences_section.september_august_2020_2021.realised_tasks3{% endtrans %}</li>
                    <li>{% trans %}professional_experiences_section.september_august_2020_2021.realised_tasks4{% endtrans %}</li>
                </ul>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="card">
            <div class="card-header">
                <p><span>{% trans %}professional_experiences_section.january_february_2016.title{% endtrans %}</span></p>
                <br>
                <p>{% trans %}professional_experiences_section.january_february_2016.description{% endtrans %}</p>
            </div>
            <div class="card-body">
                <p>{% trans %}professional_experiences_section.january_february_2016.realised_tasks{% endtrans %}</p>
            </div>
        </div>
        <div class="vertical-line"></div>
    </div>
</section>