.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 2;
}

.loader .letter {
    color: white;
    font-size: 80px;
    letter-spacing: 12px;
    margin-bottom: 350px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #fffe00;
        text-shadow: #fffe00;
    }

    90% {
        color: white;
        text-shadow: none;
    }

    100% {
        color: #fffe00;
        text-shadow: #fffe00;
    }
}

.letter:nth-child(1) {
    animation-delay: 0.1s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.3s;
}
.letter:nth-child(4) {
    animation-delay: 0.4s;
}
.letter:nth-child(5) {
    animation-delay: 0.5s;
}
.letter:nth-child(6) {
    animation-delay: 0.6s;
}
.letter:nth-child(7) {
    animation-delay: 0.7s;
}

.out-transition {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
